body {
	background: #fff;
    margin: 0px 15px 7px 15px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

h3.ui_subheading {
    color: #fff;
    margin: 0px -15px 8px -15px;
    font-size: 12pt;
    padding: 5px 0px 3px 7px;
    font-family: Helvetica, Arial, sans-serif;
    background: url(images/menuhover.jpg) top left repeat-x;
}
hr {
    height: 1px;
    color: #ccc;
}